/*
 * Copyright © 2024 ThingsBoard, Inc.
 */

:host {
  .tb-mapping-keys-panel {
    width: 77vw;
    max-width: 700px;

    .title-container {
      max-width: 11vw;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap
    }

    .key-panel {
      height: 500px;
      overflow: auto;
    }

    tb-value-input {
      width: 100%;
    }

    .tb-form-panel {
      .mat-mdc-icon-button {
        width: 56px;
        height: 56px;
        padding: 16px;
        color: rgba(0, 0, 0, 0.54);
      }
    }

    .see-example {
      width: 32px;
      height: 32px;
      margin: 4px;
    }
  }
}

:host ::ng-deep {
  .mat-mdc-form-field-icon-suffix {
    display: flex;
  }
}

