/*
 * Copyright © 2024 ThingsBoard, Inc.
 */

:host {
  .arguments-container {
    margin-bottom: 10px;
  }

  .type-container {
    width: 40%;
  }

  .value-container {
    width: 50%;
  }

  .hint-container {
    margin-bottom: 12px;
  }
}
