<!--

Copyright © 2024 ThingsBoard, Inc.

-->
<div [formGroup]="reportStrategyFormGroup" class="tb-form-panel stroked">
  <mat-expansion-panel *ngIf="isExpansionMode else defaultMode" class="tb-settings" [expanded]="showStrategyControl.value">
    <mat-expansion-panel-header fxLayout="row wrap">
      <mat-panel-title>
        <mat-slide-toggle fxLayoutAlign="center" [formControl]="showStrategyControl" class="mat-slide" (click)="$event.stopPropagation()">
          <mat-label>
            {{ 'gateway.report-strategy.label' | translate }}
          </mat-label>
        </mat-slide-toggle>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-container [ngTemplateOutlet]="strategyFields"></ng-container>
  </mat-expansion-panel>
  <ng-template #defaultMode>
    <div class="tb-form-panel-title" translate>gateway.report-strategy.label</div>
    <ng-container [ngTemplateOutlet]="strategyFields"></ng-container>
  </ng-template>
  <ng-template #strategyFields>
    <div class="tb-form-row column-xs" fxLayoutAlign="space-between center">
      <div class="fixed-title-width">{{ 'gateway.type' | translate }}</div>
      <mat-form-field class="tb-flex no-gap" appearance="outline" subscriptSizing="dynamic">
        <mat-select formControlName="type">
          <mat-option *ngFor="let type of reportStrategyTypes" [value]="type">{{ ReportTypeTranslateMap.get(type) | translate }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngIf="reportStrategyFormGroup.get('type').value !== ReportStrategyType.OnChange" class="tb-form-row column-xs" fxLayoutAlign="space-between center">
      <div class="fixed-title-width tb-required">
        <span tbTruncateWithTooltip translate>
          gateway.report-strategy.report-period
        </span>
      </div>
      <div class="tb-flex no-gap">
        <mat-form-field class="tb-flex no-gap" appearance="outline" subscriptSizing="dynamic">
          <input matInput type="number" min="0" name="value" formControlName="reportPeriod" placeholder="{{ 'gateway.set' | translate }}"/>
        </mat-form-field>
      </div>
    </div>
  </ng-template>
</div>
