@use '../../styles/constants' as constants;

:host {
  width: 100%;
  height: 100%;
  padding: 4px;
  display: flex;
  flex-direction: column;

  .action-button {
    opacity: .7;
  }

  @media #{constants.$mat-xs} {
    .entry-container {
      flex-direction: column;
    }

    .actions-container {
      flex-direction: row;
    }
  }
}
