/*
 * Copyright © 2024 ThingsBoard, Inc.
 */

:host {
  .slaves-config-container {
    width: 80vw;
    max-width: 900px;
  }

  .slave-name-label {
    margin-right: 16px;
    color: rgba(0, 0, 0, 0.87);
  }

  .fixed-title-width-260 {
    min-width: 260px;
  }

  ::ng-deep.security-config {
    .fixed-title-width {
      min-width: 230px;
    }
  }
}
