/*
 * Copyright © 2024 ThingsBoard, Inc.
 */

:host {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: row;
  padding: 0 5px;

  & > * {
    height: 100%;
    overflow: auto;
  }

  & > tb-gateway-service-rpc-connector-templates:last-child {
    margin-left: 10px;
  }


  .command-form {
    flex-wrap: nowrap;
    padding: 0 5px 5px;

    & > button {
      margin-top: 10px;
    }
  }

  .rpc-parameters {
    width: 100%;
  }

  .result-block {
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    flex: 1;

    & > span {
      font-weight: 600;
      position: relative;
      font-size: 14px;
      margin-bottom: 10px;


      .result-time {
        font-weight: 400;
        font-size: 14px;
        line-height: 32px;
        position: absolute;
        left: 0;
        top: 25px;
        z-index: 5;
        color: rgba(0, 0, 0, 0.54);

        span {
          padding-left: 10px;
        }
      }
    }

    tb-json-content {
      flex: 1;
    }
  }

  .border {
    padding: 16px;
    box-shadow: 0 0 0 0 rgb(0 0 0 / 20%), 0 0 0 0 rgb(0 0 0 / 14%), 0 0 0 0 rgb(0 0 0 / 12%);
    border: solid 1px #e0e0e0;
    border-radius: 4px;
  }
}
